<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta name="msvalidate.01" content="4977F45BDC399619C13FAEDC6CE5E184" />
        <meta name="description" content="Website vol met de lekkerste vegan recepten" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
         
        <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <script type="text/javascript" src="/assets/js/burgermenu.js"></script>

        {% seo %}
    </head>
