<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Recipe",
  "name": "{{ page.title }}",
  "image": "{{ page.image | absolute_url }}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author }}"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "description": "{{ page.description }}",
  "prepTime": "{{ page.prep_time }}",
  "cookTime": "{{ page.cook_time }}",
  "totalTime": "{{ total_time }}",
  "recipeYield": "{{ page.recipe_yield }}",
  "recipeIngredient": [
    {% for ingredient in page.ingredients %}
      "{{ ingredient }}"{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],
  "recipeInstructions": [
    {% for instruction in page.instructions %}
      {
        "@type": "HowToStep",
        "text": "{{ instruction }}"
      }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ],
}
</script>
