<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarcontent">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
    </div>

    <div id="navbarcontent" class="navbar-menu" is-active>
        <div class="navbar-start" >
            <a href="/" class="navbar-item" aria-label="Go to the start page">
                <i class="fas fa-home" style="text-weight: 50">HOME</i> 
            </a>

            <a href="/recipes/" class="navbar-item">
                Recepten
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Meer
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/keukenkast.html">
                        Keukenkast Voorraad
                    </a>
                    <a class="navbar-item" href="/about.html">
                        Over Ons
                    </a>
                    <a href="/contact.html" class="navbar-item">
                        Contact
                    </a>
                </div>
            </div>
        </div>
        <!-- div class="navbar-end">
            <div class="navbar-item">
            <form class="field has-addons">
            <div class="control">
            <input class="input" id="searchTerm" type="text" value="" placeholder="Search Term...">
            </div>
            <div class="control">
            <button id="searchButton" class="button is-secondary">Search</button>
            </div>
            </form>
            </div>
            </div -->
            </div>
</nav>

