---
---

@import "bulma.sass";

html {
  font-size: 12px;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 20px;
  }
}

body {
    background-size: cover;
    background-color: white;
}

section {
    background-color: rgba(39, 245, 58, 0.03);
}

h1 > h2.subtitle is-2 {
    margin-top: 1em;
    color: blue
}

.container > ol {
    padding-left: 2.5em;
}


ul.index li 
  { 
    font-size: 16px;
    list-style-type: circle;
    }

li {
    padding-bottom: .5em;
    font-size: 20px;
}

section+section {
    margin-top: -3em;
}

nav {
    padding-bottom: .9em;
}

.card-content > .content {
   margin-top: -10em;
   width: 50%;
   float: right;
   clear: both;
}

.card-content > a {
   color: black;
}