---
---

@import "bulma.sass";

:root {
    font:-apple-system-body;
    font-size:12px
}
@supports (font:-apple-system-body) and (not(-webkit-touch-callout:default)){
    :root{font-size:16px}
}

@media print {
   .noprint {
        visibility: hidden;
        z-index: 0;
        display: none; 
    }

   input { visibility: hidden; } 

   h1.title.is-1 { 
        font-size: 36px;
        text-align: left; 
        margin-top: 0.2em;
        margin-bottom: -0.75em;
    }
}

body {
    background-size: cover;
    background-color: white;
}

section {
    background-color: rgba(39, 245, 58, 0.03);
}

h1 > h2.subtitle is-2 {
    margin-top: 1em;
    color: blue
}

.container > ol {
    padding-left: 2.5em;
}


ul.index li 
  { 
    list-style-type: circle;
    }

ul li {
    padding-bottom: 1em;
}

section+section {
    margin-top: -3em;
}

nav {
    padding-bottom: .9em;
}

.card-content > .content {
   margin-top: -6em;
   width: 50%;
   float: right;
   clear: both;
}

.card-content > a {
   color: black;
}