:root {
    font:-apple-system-body;
    font-size:14px
}
@supports (font:-apple-system-body) and (not(-webkit-touch-callout:default)){
    :root{font-size:16px}
}

@media print {
   .noprint {
        visibility: hidden;
        z-index: 0;
        display: none; 
    }

   input { visibility: hidden; } 

   h1.title.is-1 { 
        font-size: 36px;
        text-align: left; 
        margin-top: 0.2em;
        margin-bottom: -0.75em;
    }
}

html,body {
    height: 100%;
    background-size: cover;
    line-height: 1.7;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(85,85,85);
}

body {
    background-image: url('/assets/images/vegd-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    background-size: 200px 355px;

}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  line-height: 1.2;
}

h1.title {
    margin-top: 20px;
    margin-bottom: -20px;
}

p {
  font-weight: 400;
  color: #555;
  line-height: 1.7;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 1rem;
}

section a, section a:link, section a:visited {
    color: rgb(151,177,171)
}

.shadow, .card {
  box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05) !important;
}

.container > ol {
    padding-left: 2.5em;
}

.card-content > .content {
   margin-top: -6em;
   width: 50%;
   float: right;
   clear: both;
}

.footer {
    padding: 10px;
    background: rgb(232,243,241);
}

.card-content > a {
   color: black;
}

.columns.is-gapless > .column {
    margin: 0;
    padding: 0!important;
}

.header-top {
    position: relative !important;
    margin-bottom: 10px;
}

.bg-mblue {
    background: rgb(118,204,214);
}

.navbar {
    background: rgb(118,204,214);
}

.navigation.navbar {
    background-color: transparent !important;
}

.navigation .navbar-brand {
    align-items: center;
    min-height: auto;
}

.navbar-item, .navbar-link {
    text-weight: 50;
    text-transform: uppercase;
    color: rgb(52,75,71);
}

.navbar-link {
    color: rgb(52,75,71);
    line-height: 1.7px;
}

.navbar-link:focus, .navbar-link:hover {
  background-color: rgb(232,243,241);
  color: rgb(52,75,71);
}

.navbar-link:focus:after, .navbar-link:hover:after {
  border-color: rgb(232,243,241) !important;
}
    
.navbar-link, a.navbar-item {
    cursor: pointer;
}

.navbar-menu .navbar-item {
    transition: all 500ms ease;
    padding: 10px 10px;

}

.navbar-menu .navbar-item:hover {
    background-color: rgb(232,243,241);
}

.button.is-link {
    background-color: rgb(118,204,214);
    color: rgb(47,122,141);
}

.button.is-link:hover {
    background-color: rgb(232,243,241);
    color: rgb(47,122,141);
}

.button.is-link.is-light {
    background-color: rgb(232,243,241);
    color: rgb(47,122,141);
}

.button.is-link.is-light:hover {
    background-color: rgb(118,204,214);
    color: rgb(232,243,241);
}

ul li {
  list-style: none;
  padding-left: 50px;
  padding-bottom: 10px;
  position: relative;
  line-height: 1.5rem;

}

ul li:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  height: 15px;
  width: 15px;
  background-size: contain;
  background-image: url("/assets/images/vegd-li.png");
}

.content ol:not([type]) {
  list-style: none;
  padding-left: 50px;
  padding-bottom: 10px;
  position: relative;
  counter-reset: vd-counter;
  line-height: 1.5rem;
}

li {
    counter-increment: vd-counter;
    margin: 0.25rem;
}

li:before {
  content: counter(vd-counter);
  background: rgb(47,122,141);
  color: rgb(255,208,158);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 0.5rem;
}

@media (min-width:1025px) {
    section {
        margin-left: 8rem;
    }
}

section + section {
    margin-top: -50px;
}
