:root {
    font:-apple-system-body;
    font-size:14px
}
@supports (font:-apple-system-body) and (not(-webkit-touch-callout:default)){
    :root{font-size:16px}
}

@media print {
   .noprint {
        visibility: hidden;
        z-index: 0;
        display: none; 
    }

   input { visibility: hidden; } 

   h1.title.is-1 { 
        font-size: 36px;
        text-align: left; 
        margin-top: 0.2em;
        margin-bottom: -0.75em;
    }
}

html,body {
    height: 100%;
    background-size: cover;
    line-height: 1.7;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(85,85,85);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  line-height: 1.2;
}

h1.title {
    margin-top: 20px;
    margin-bottom: -20px;
}

p {
  font-weight: 400;
  color: #555;
  line-height: 1.7;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 1rem;
}

.shadow, .card {
  box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.05) !important;
}

.container > ol {
    padding-left: 2.5em;
}

.card-content > .content {
   margin-top: -6em;
   width: 50%;
   float: right;
   clear: both;
}

.card-content > a {
   color: black;
}

.columns.is-gapless > .column {
    margin: 0;
    padding: 0!important;
}

.header-top {
    position: relative !important;
    margin-bottom: 10px;
}

.bg-mblue {
    background: rgb(118,204,214);
}

.navbar {
    background: rgb(118,204,214);
}

.navigation.navbar {
    background-color: transparent !important;
}

.navigation .navbar-brand {
    align-items: center;
    min-height: auto;
}

.navbar-item, .navbar-link {
    text-weight: 50;
    text-transform: uppercase;
    color: rgb(52,75,71);
}

.navbar-link {
    color: rgb(52,75,71);
    line-height: 1.7px;
}

.navbar-link:focus, .navbar-link:hover {
  background-color: rgb(232,243,241);
  color: rgb(52,75,71);
}

.navbar-link:focus::after, .navbar-link:hover::after {
  border-color: rgb(232,243,241) !important;
}
    

.navbar-link, a.navbar-item {
    cursor: pointer;
}

.navbar-menu .navbar-item {
    transition: all 500ms ease;
    padding: 10px 10px;
}

