---
---

@import "bulma.sass";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800&display=swap");

:root {
    font:-apple-system-body;
    font-size:12px
}
@supports (font:-apple-system-body) and (not(-webkit-touch-callout:default)){
    :root{font-size:16px}
}

@media print {
   .noprint {
        visibility: hidden;
        z-index: 0;
        display: none; 
    }

   input { visibility: hidden; } 

   h1.title.is-1 { 
        font-size: 36px;
        text-align: left; 
        margin-top: 0.2em;
        margin-bottom: -0.75em;
    }
}

html,body {
    height: 100%;
    background-size: cover;
    line-height: 1.7;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: rgb(85,85,85);
}

h1 > h2.subtitle is-2 {
    margin-top: 1em;
    color: blue
}

.container > ol {
    padding-left: 2.5em;
}


ul.index li 
  { 
    list-style-type: circle;
    }

ul li {
    padding-bottom: 1em;
}

section+section {
    margin-top: -3em;
}

nav {
    padding-bottom: .9em;
}

.card-content > .content {
   margin-top: -6em;
   width: 50%;
   float: right;
   clear: both;
}

.card-content > a {
   color: black;
}