---
title: Al onze recepten
---

{% include htmlhead.html %} 

    <body>
        {% include navigation.html %}

        <section class="section">
            <div class="container"> 

                <h1 class="title">Al onze recepten</h1>

                {% for page in site.recipes %}
                {% unless page.title contains 'Recepten' %} 
                <ul class="index">
                    <li><a href="{{ site.url }}{{ page.url }}.html">{{ page.title }}</a> <br/>
                        {{ page.description }}</li>
                {% endunless %}
                {% endfor %}
                </ul>
            </div>
            <section>
    </body>
</html>

