<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
        <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202308041418">

    </head>

    <body>
        {% include navigation.html %}


<div class="container">

{{ content }}
</div>

</body>
</html>


