---
layout: default
---

{% assign recipe = page %}
{% assign total_time = recipe.prep_time | plus: recipe.cook_time %}
{% assign minutes = total_time | modulo: 60 %}
{% include json-ld-recipe.html %}

<div class="content">
    <div class="container has-text-centered"> 
        <h1 class="title is-1">{{ page.title }}</h1>
    </div>

    <section class="section">
    <div class="container is-size-4">

        {{ page.description }}
    </div>
    </section>

    <hr/>

    <section class="section">
        <div class="container has-text-centered">
            <div class="columns is-mobile is-multiline">
                <div class="column is-half-mobile" style="border-right: 1px solid #dbdbdb">
                    <i class="fas fa-concierge-bell fa-lg"></i>
                    <p class="has-text-weight-bold is-size-6"> Hoeveelheid </p>
                    {{ recipe.recipe_yield }}  
                </div>

                <div class="column is-half-mobile" style="border-right: 1px solid #dbdbdb">
                    <i class="fas fa-hourglass-half fa-lg"></i>
                    <p class="has-text-weight-bold is-size-6"> Voorbereidingstijd </p>
                    {{ recipe.prep_time | recipe_pretty_duration }}
                </div>

                <div class="column is-half-mobile" style="border-right: 1px solid #dbdbdb">
                    <i class="fas fa-clock fa-lg"></i>
                    <p class="has-text-weight-bold is-size-6">Kooktijd</p>
                    {% if total_time > 60 %}{{ total_time | divided_by: 60}} hours{% endif %}{% if minutes > 0 %} {{ minutes }} minutes{% endif %}
                     
                </div>  
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="container">
            <h2 class="title is-3">Ingrediënten</h2>
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li> <label class="checkbox">
                        <input type="checkbox"> {{ ingredient }} </label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <h2 class="title is-3">Instructies</h2>
        <ol>
            {% for instruction in recipe.instructions %}
            <li> {{ instruction }} </li>
            {% endfor %}
        </ol>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <h2 class="title is-3">Opmerkingen</h2>
        <div class="is-size-5"> 
        {{ content }}
        </div>
        </div>
    </section>

  <footer class="footer">
    <div class="content has-text-centered">
      {{ recipe.author }}
      -
      {{ recipe.date | date_to_long_string }}
    </div>
  </footer>

