---
layout: default
title: recipe.title
---

{% assign recipe = page %}
{% include json-ld-recipe.html %}

<div class="content">
    <div class="container has-text-centered"> 
        <h1 class="title is-1">{{ page.title }}</h1>
    </div>

    <section class="section noprint">
    <div class="container is-size-5">

        {{ page.description }}
    </div>
    </section>

    <hr/>

    <section class="section noprint">
        <div class="container has-text-centered">
            <div class="columns is-mobile is-multiline">
                <div class="column is-half-mobile" style="border-right: 1px solid #dbdbdb">
                    <i class="fas fa-concierge-bell fa-lg"></i>
                    <p class="has-text-weight-bold is-size-6"> Hoeveelheid </p>
                    {{ recipe.recipe_yield }} personen 
                </div>

                <div class="column is-half-mobile" style="border-right: 1px solid #dbdbdb">
                    <i class="fas fa-hourglass-half fa-lg"></i>
                    <p class="has-text-weight-bold is-size-6"> Voorbereidingstijd </p>
                    {{ recipe.prep_time | iso8601_to_minutes }} minuten
                </div>

                <div class="column is-half-mobile" style="border-right: 1px solid #dbdbdb">
                    <i class="fas fa-clock fa-lg"></i>
                    <p class="has-text-weight-bold is-size-6">Kooktijd</p>
                    {{ recipe.cook_time | iso8601_to_minutes }} minuten 
                     
                </div>  
            </div>
        </div>
    </section>
    
    <section class="section">
        <div class="container">
            <h2 class="title is-3">Ingrediënten</h2>
            <ul>
                {% for ingredient in recipe.ingredients %}
                <li> <label class="checkbox">
                        <input type="checkbox"> {{ ingredient }} </label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <h2 class="title is-3">Instructies</h2>
        <ol>
            {% for instruction in recipe.instructions %}
            <li> {{ instruction }} </li>
            {% endfor %}
        </ol>
        </div>
    </section>

    <section class="section">
        <div class="container">
        <h2 class="title is-3">Opmerkingen</h2>
        <div class="is-size-6"> 
        {{ content }}
        </div>
        </div>
    </section>

  <footer class="footer noprint">
    <div class="content has-text-centered">
      {{ recipe.author }}
      -
      {{ recipe.date | date_to_long_string }}
    </div>
  </footer>

