---
title:  Recepten
---

{% include header.html %} 


<body>
{% include navigation.html %}

    <section class="section">
        <div class="container"> 

            <h1 class="title"> {{ page.title }} </h1>

            {% for page in site.recipes %}
            {% if page.title != 'De Recepten' and page.tags contains 'rijst' %} 
            <ul class="index">
                <li><a href="{{ site.url }}{{ page.url }}.html">{{ page.title }}</a> <br/>
                    {{ page.description }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <section>
</body>

</html>