<!doctype html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <title>{{ Rijst Recepten }}</title>
        <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
        <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
        <link rel="stylesheet" href="https://bulma.io/css/bulma-docs.min.css?v=202308041418">
    </head>

    <body>
        {% include navigation.html %}

        <section class="section">
            <div class="container"> 

                {% for page in site.recipes %}
                {% if page.title != 'De Recepten' and page.tags contains 'rijst' %} 
                <ul class="index">
                    <li><a title="{{ page.title }}" href="{{ site.url }}{{ page.url }}.html">{{ page.title }}</a> <br/>
                        {{ page.description }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <section>
    </body>
</html>

